.widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: white;
  border-radius: 20px 20px 0 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 9999;
}

.header {
  background: rgb(242, 165, 87);
  color: white;
  padding: 16px;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIcon{
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  max-width: 70%;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 1.6rem;
  font-family: "RobotRegular";
}

.user {
  background: rgb(242, 165, 87);
  color: white;
  align-self: flex-end;
}

.admin {
  background: #e0e0e0;
  color: #333;
  align-self: flex-start;
}

/* Input Row */
.inputRow {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 8px;
  background: #fafafa;
}

.input {
  flex: 1;
  padding: 7px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.sendButton {
  margin-left: 6px;
  background: rgb(242, 165, 87);
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.sendButton:hover {
  background: rgb(243, 195, 148);
}

.time {
  font-size: 11px;
  opacity: 0.6;
  text-align: right;
  margin-top: 3px;
}
