.data{
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

.card{
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    margin: 40px 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 80%;
}

.title{
    font-size: 1.6rem;
    color: rgb(160,160,160);
    margin: 4rem auto 2rem;
}

@media screen and (min-width:768px) {
    .data{
        grid-template-columns: 1fr 1fr;
    }
}