.chatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background: rgb(242, 165, 87);
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  cursor: pointer;
}

.unreadDot {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  margin-left: 6px;
}
