.block {
  padding: 2rem;
  margin: 0 auto;
}

.input {
  font-size: 1.6rem;
  border-radius: 6px;
  outline: 0;
  border: 1px solid rgba(205, 205, 205, 0.6);
  background-color: rgb(242, 242, 242);
  padding: 10px;
  min-width: 400px;
  width: 100%;
  margin: 1rem 0;
  max-width: 400px;
}

.btn {
  background-color: rgb(242, 165, 87);
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: "SourceSansRegular";
  padding: 1rem 2.4rem;
  transition: 0.15s;
  text-wrap: nowrap;
  float: left;
  margin: 1rem 0 1rem;
  max-width: 200px;
}

.btn:hover {
  background-color: rgb(243, 174, 104);
}

.error {
  color: red;
  font-size: 1.4rem;
}

.wrong {
  font-size: 2.6rem;
  color: rgb(32, 83, 117);
  font-family: "RobotoMedium";
  display: inline-block;
  text-align: center;
}
