.block {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 1rem;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  justify-items: center;
  text-align: center;
}

/* slider */
/**********/
.imgSlide {
  width: 100%;
  margin: 10px auto;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10px;
  border: 1px solid rgba(242, 165, 87, 0.6);
  border-radius: 6px;
}

.imgContainer:hover {
  box-shadow: 1px -3px 25px -4px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px -3px 25px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 1px -3px 25px -4px rgba(0, 0, 0, 0.56);
}

.selectedImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.title {
  font-size: 2.6rem;
  color: rgb(32, 83, 117);
  font-family: "RobotoMedium";
  display: inline-block;
  text-align: center;
}
/* info */
/**********/
.infoContent {
  padding-top: 1rem;
  margin: 0 auto;
  width: 100%;
}

.categoryContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryTitle {
  color: rgb(127, 153, 165);
  font-size: 1.8rem;
  font-family: "SourceSansMedium";
  margin-top: 1rem;
  margin-right: 1rem;
  text-decoration: underline;
  text-wrap: nowrap;
}

.colorBlock {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: rgb(32, 83, 117);
  font-family: "SourceSansMedium";
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.colorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.colorIcon {
  width: 57px;
  height: 76px;
  border-radius: 30%;
  cursor: pointer;
  opacity: 0.4;
  object-fit: cover;
}

.selectedColor {
  opacity: 1;
}

.model {
  display: block;
  font-size: 1.6rem;
  font-family: "RobotoMedium";
  color: rgb(32, 83, 117);
  border: 1px solid rgb(32, 83, 117);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.15s;
}

.selectedModel {
  color: rgb(242, 165, 87);
  border: 1px solid rgb(242, 165, 87);
}

.model:hover {
  background-color: rgb(230, 233, 235);
  color: rgb(242, 165, 87);
  border: 1px solid rgb(242, 165, 87);
}

.mainTable {
  margin: 20px;
}

.maintd {
  padding: 4px 10px 4px 0;
  margin: 0;
  font-family: "RobotoLight";
  vertical-align: top;
}

.optionsContent {
  border: 1px solid rgb(200, 200, 200);
  margin-top: 20px;
  padding: 0;
  border-radius: 6px;
  width: 100%;
}

.dataTable {
  width: 100%;
  border-spacing: 0;
}

.dataTable tbody tr:nth-child(odd) {
  background-color: rgb(231, 238, 244);
}

.dataTable .td {
  padding: 4px 2px;
  margin: 0;
  font-family: "RobotoLight";
  text-align: center;
}

.label {
  display: inline-block;
  text-wrap: nowrap;
  margin: 0 2px 0 2px;
  font-size: 1.6rem;
  color: rgb(17, 43, 60);
  font-family: "RobotoLight";
}

.sizeItem {
  cursor: pointer;
  opacity: 0.4;
}

.selectedSize {
  opacity: 1;
}

.name {
  font-size: 1.6rem;
  color: rgb(32, 83, 117);
  font-family: "RobotoMedium";
  display: inline-block;
  text-align: center;
  width: 90%;
}

.price {
  font-size: 2rem;
  color: rgb(242, 165, 87);
  font-family: "RobotoRegular";
  text-align: center;
}

.old {
  font-size: 1.8rem;
  color: rgb(160, 160, 160);
  text-decoration: line-through;
  font-family: "RobotoRegular";
  display: inline-block;
}

.input {
  width: 40px;
  font-size: 1.6rem;
  font-family: "RobotoRegular";
  padding: 0.7rem 1rem;
  outline: 0;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
}

.btn {
  background-color: rgb(242, 165, 87);
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "SourceSansRegular";
  padding: 0.6rem 1.8rem;
  transition: 0.15s;
  text-wrap: nowrap;
  margin: 2rem 0 2rem;
}

.btn:hover {
  background-color: rgb(243, 174, 104);
}

.addLong {
  display: none;
}

.descriptionContent {
  font-size: 1.6rem;
  color: rgb(32, 83, 117);
  font-family: "RobotoMedium";
  display: inline-block;
  text-align: justify;
  width: 94%;
}

.description {
  display: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100000;
}

.hide {
  display: none;
}

.infoGroup {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px 40px;
  border: 1px solid rgba(242, 165, 87, 0.4);
  font-family: "RobotoRegular";
}

.info {
  font-size: 1.8rem;
  color: rgb(17, 43, 60);
}

.playerWrapper {
  width: 200px;
  height: 120px;
  max-width: 200px;
  max-height: 120px;
  border: 0;
  cursor: pointer;
  position: relative;
}

.playIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(.6px);
  -webkit-filter: blur(.6px);
}

@media screen and (min-width: 492px) {
  .addLong {
    display: block;
  }
  .addShort {
    display: none;
  }
}

@media screen and (min-width: 660px) {
  .input {
    width: 80px;
  }
}

@media screen and (min-width: 1128px) {
  .content {
    width: 100%;
    grid-template-columns: 400px 1fr;
    justify-items: center;
    text-align: center;
  }

  .infoContent {
    margin: 0 auto;
    margin-left: 4vw;
    padding-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
  }

  .categoryContent {
    justify-content: left;
  }
  .descriptionContent {
    margin: 1rem;
    text-align: left;
  }
  .description {
    margin: 1rem;
    display: block;
  }
}
