/* .slick-arrow.slick-prev {
    width: 20px;
    height: 20px;
    background-color: rgb(242, 165, 87);
    border-radius: 50%;
    padding-top: 1px;
    transform: scale(1.6);
  }
  .slick-arrow.slick-next {
    width: 20px;
    height: 20px;
    background-color: rgb(242, 165, 87);
    border-radius: 50%;
    padding-top: 1px;
    transform: scale(1.6);
  }
  
  .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .slick-slide > div {
    width: 280px;
    margin: 0 auto;
  } */