h1 {
  margin: 2rem auto;
}

.block {
  position: relative;
}

.content {
  border-top: 2px solid rgb(242, 165, 87);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  margin: 3rem auto;
  padding: 2rem;
  overflow: hidden;
}
