.block {
  background-color: rgb(49, 49, 49);
  color: #f5eedc;
  min-height: 100vh;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.setBar {
  grid-column: 2;
  display: flex;
  justify-self: right;
  margin-bottom: 2rem;
}

.langBar {
  justify-self: end;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-family: "RobotoLight";
  margin: 0 3rem;
}

.langBar span:nth-child(even) {
  height: 2rem;
  border-left: 1px solid rgb(73, 80, 87);
}

.langBar span {
  display: inline-block;
  margin: 0 0.2rem;
  cursor: pointer;
}

.logOut {
  font-size: 1.6rem;
  text-decoration: underline;
}

.list {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;
}

.list > li {
  margin: 0 1rem 1rem;
  text-align: left;
  font-family: "SourceSansLight";
  transition: 0.15s;
}

/* .list>li:hover{
    margin-left: 2rem;
} */

a {
  color: white;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  color: #dda853;
}

.active {
  color: #dda853;
  /* margin-left: 1rem; */
}

.unreadDot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}
